{% load static %}
<head> 
  <link rel="stylesheet" href="static/style.css"> 
  <script src="{% static 'sales/home.js' %}" defer></script>
  <title>
    Home
  </title>
</head>

<!DOCTYPE html>
<html>
    <title>
        Bookstore's Home
    </title>
    <body>
        <h1 style="text-align:center">Welcome to our Bookstore</h1>
        <br>
        <br>
          <h2>
            <a style="text-align:center" href="{%url 'login' %}">Login</a>
          </h2>
        <br>
        <br>
        <img src="{% static 'sales/images/bookstore.jpg' %}" alt="home" width="600" height="300">
    </body>
</html>